header {
    display: flex;
    

}
header div:last-child{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
   
}

.news-detail{
    border: 1px solid grey;
    margin-bottom: 20px;
    padding: 0 10px 0 0;
    border-top: 1px solid gray;
    border-right: 3px solid gray;
    border-bottom: 1px solid gray;
    border-left: 3px solid gray;
}
main {
    display: flex;
}

main div:nth-child(1){
    flex-grow: 1;
    border-right: 1px solid grey ;
}
main div:nth-child(2){
    flex-grow: 2;
}
main {
    padding: 0 30px 0;
}
.images{
  display: flex;
  flex-flow: row wrap;
}
.images img{
    width: 200px ;
    padding: 15px;
}
ol{
    list-style-type: none;
}
.brand-details{
    display: flex;
    border: 1px solid grey ;
}
.brand{
    display: flex;
   flex-grow: 1;
}
.brand, .despription{
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    padding: 5px;
    flex-grow: 4;
}
